src/test/resources/sch/standalone-default.sch

<?xml version="1.0"?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron">

  <sch:title>Standalone schema for testing</sch:title>

  <sch:pattern>
    <sch:title>Elements</sch:title>

    <sch:rule context="/">

      <sch:assert test="*">Document element</sch:assert>

    </sch:rule>

  </sch:pattern>

</sch:schema>